.main-block {
    margin-top: 4.1rem;
}

.main-line {
    max-width: 121.8rem;
    height: 0.2rem;
    background-color: #E5E5E5;
}

.main-text {
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
    margin-bottom: 1.9rem;
}

.main-paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #B1B1B1;    
}

.main-page {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #4C858B;
}

.main-strelka {
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.7rem;
    margin-right: 0.6rem;
}
