.nav-icons 
    ul.nav-icons_list 
        li.nav-icons_item 
            a(href="#")
                img(src="./../../img/icons/vk.svg", alt="vk") 
        li.nav-icons_item 
            a(href="#")
                img(src="./../../img/icons/tg.svg", alt="tg") 
        li.nav-icons_item 
            a(href="#")
                img(src="./../../img/icons/ig.svg", alt="ig") 
        li.nav-icons_item 
            a(href="#")
                img(src="./../../img/icons/wa.svg", alt="wa") 