.navigation
    ul.navigation-list 
        li.navigation-item
            a(href="#") каталог товаров
        li.navigation-item
            a(href="#") доставка и оплата
        li.navigation-item
            a(href="#") цены
        li.navigation-item
            a(href="#") контакты

            