.nav-block
    ul.nav-block_list 
        li.nav-block_item.nav-block-item-480 
            a(href="#").nav-block_search
                img(src="./../../img/icons/search.svg", alt="search") 
        li.nav-block_item.nav-block-item-480  
            a(href="#").nav-block_search
                img(src="./../../img/icons/like.svg", alt="like") 
        li.nav-block_item.nav-block_item-c
            a(href="#").nav-block_search
                img(src="./../../img/icons/cart.svg", alt="cart")
            .nav-block_item-circle 10
        .nav-block_burger
            include ./_burger.pug
            
        
     
