.process
    .red-line 
    h2.process-title Процесс выполнения монтажа

    .process-block 
        ul.process-block-list_one 
            li.process-block-item
                .process-block-width 
                    img(src="./../../../img/icons/1.svg", alt="number").process-block-item_img
                p.process-block-item_text Рассчёт предварительной заявки
            li.process-block-item
                .process-block-width  
                    img(src="./../../../img/icons/2.svg", alt="number").process-block-item_img
                p.process-block-item_text Замер объекта нашим инженером
            li.process-block-item
                .process-block-width  
                    img(src="./../../../img/icons/3.svg", alt="number").process-block-item_img
                p.process-block-item_text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 

        ul.process-block-list_two
            li.process-block-item
                .process-block-width  
                    img(src="./../../../img/icons/4.svg", alt="number").process-block-item_img
                p.process-block-item_text Изготовление Дымохода, покраска (если требуется)
            li.process-block-item
                .process-block-width  
                    img(src="./../../../img/icons/5.svg", alt="number").process-block-item_img
                p.process-block-item_text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
            li.process-block-item
                .process-block-width  
                    img(src="./../../../img/icons/6.svg", alt="number").process-block-item_img
                p.process-block-item_text Гарантийное обслуживание по соответствующем сроку