.answers
    .red-line 
    h2.process-title Почему Дымоход.ру?

    p.answers-text В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 

    ul.answers-list 
        li.answers-item 
            img(src="./../../img/icons/answers-1.svg", alt="img").answers-img
            h3.answers-item-h3 Большой гарантийный срок
            p.answers-item-p 
                | Крепёж, стыковка элементов – 
                span.answers-item-p-red 10 лет
            p.answers-item-p 
                | Сквозная коррозия труб – 
                span.answers-item-p-red 5 лет
            p.answers-item-p 
                | Гидроизоляция – 
                span.answers-item-p-red 3 года
        li.answers-item 
            img(src="./../../img/icons/answers-2.svg", alt="img").answers-img
            h3.answers-item-h3 Помощь в покупке агрегата 
            p.answers-item-p (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом 
        li.answers-item 
            img(src="./../../img/icons/answers-3.svg", alt="img").answers-img
            h3.answers-item-h3 Реальные отзывы клиентов
            p.answers-item-p Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.

    h3.process-title-h3 необходима консультация?
    p.process-title-p оставьте заявку или свяжитесь с нами в социальных сетях 

    .answers-icons 
        ul.answers-icons_list 
            li.answers-icons_item
                a(href="#")  
                    img(src="./../../img/icons/vk-red.svg", alt="icon").answers-icons_item-color
            li.answers-icons_item
                a(href="#")  
                    img(src="./../../img/icons/tel-red.svg", alt="icon").answers-icons_item-color
            li.answers-icons_item
                a(href="#")  
                    img(src="./../../img/icons/inst-red.svg", alt="icon").answers-icons_item-color
            li.answers-icons_item
                a(href="#")  
                    img(src="./../../img/icons/wa-red.svg", alt="icon").answers-icons_item-color

    .answers-form 
        h3.answers-form_h3 
            | Для 
            span.answers-form_h3-red консультации 
            | заполните форму!
            p.answers-form_p С Вами свяжутся в ближайшее время

        form(action="/").answers-form_form 
            input(type="text" placeholder="Ваше имя").answers-form_input.answers-form_input-input
            input(type="number" placeholder="Ваш телефон").answers-form_input.answers-form_input-input
            input(type="submit" value="submit").answers-form_input.answers-form_input-button
            
