@import 'base/reset';
@import 'components/header/burger';
@import 'components/header/header';
@import 'components/header/navigation';
@import 'components/header/icons';
@import 'components/header/navblock';
@import 'components/main/main-block';

@import './sections/promo';
@import './sections/process';
@import './sections/answers';



html {
    font-size: 62.5%;
}

body {
    margin: 0;    
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.wrapper {
    background-color: #ffffff;
    max-width: 121.8rem;
    width: 100%;
    margin: 0 auto;
}

.h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    margin-top: 5.6rem;
}



.content {
    width: 100%;    
    background-color: #fff; 
    margin-top: 8.1rem;   
}

.footer {
    width: 100%;
    padding: 50px 0;
    background-color: rgb(214, 119, 159);
    text-align: center;
    font-style: 62px;
}

.red-line {
    width: 7.4rem;
    height: 0.5rem;
    background-color: #E33E54;
}






