.main-block
    .main-line
    .main-text
        p.main-paragraph Главная
        img(src="./../../img/icons/strelka.svg", alt="strelka").main-strelka
        p.main-page Монтаж дымоходов
    .main-line 